node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Database
./src/base/

# Service API
./src/services/

# Libs
./libs.txt

# .Lock
./yarn.lock

# package-lock
package-lock.json

# eas expo
./eas.json

